.about-section-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.block1 {
  background-image: url("../../public/images/humphrey-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 45%;
  height: 92vh;
  z-index: 1;
}

.block2 {
  background-color: rgb(237, 145, 33);
  width: 55%;
  height: 92vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block2:after {
  content: "";
  position: absolute;
  margin: -20px;
  top: -300px;
  left: -300px;
  width: 600px;
  height: 600px;
  transform: rotate(45deg);
  background-color: rgb(40, 183, 49); /* to see where it is */
  z-index: -1;
}

.content-wrapper {
  padding-left: 20px;
}

#about-header {
  align-self: flex-start;
  font-size: 60px;
}

@media screen and (max-width: 960px) {
  .about-section-container {
    flex-direction: column;
  }

  .block1,
  .block2 {
    width: 100%;
  }

  .block2:after {
    top: -200px;
    left: -200px;
    width: 400px;
    height: 400px;
  }
}
